body{
    height: auto;
    background-color: #E3A857;
}
.borderEx{
    border:1px solid black;
}
.skill-container{
    width: 200px;
    height: 200px;
}
div.skill-container>img{
    width: 100%;
    height: 100%;
}
div.profile-image{
    width:200px;
    height: auto;
}
div.profile-image>img{
    width: 100%;
    height: 100%;
}
.borderEx{
    border: 1px solid black;
}
div.edu-container{
    width:20%;
    height:150px;
    display: flex;
    flex-direction: column;
    background-color: yellow;
    justify-content: space-evenly;
    padding: 5px;
    z-index: 1000000000;
}
.bar{
    height: 3px;
    position: absolute  ;
    background-color: black;
    margin: auto;
    width: 90%;
    top:150px;
    left: 65px;
}
div.contact-me>img{
    width:100%;
    height:100%;
}